@media (max-width:1024px) {#sidebar{ 
display: none; 
}}

.page{
position:static;
background-color: rgb(250, 250, 250);
color: rgb(38, 38, 38);
direction: ltr;
width: 1467px;
Margin-left:0px;
Margin-right:0px;
Margin-top:0px;
Margin-bottom:50px;
height: 2100px;
Display:flex;
}

.page-header{
align-items: center;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(219, 219, 219);
border-bottom-style: solid;
border-bottom-width: 1px;
box-sizing: border-box;
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
flex-direction: row;
height: 70px;
line-height: 18px;
position: fixed;
top: 0px;
width: 1467px;
z-index: 3;
}

.signal{
Margin-left:100px;
Margin-top:10px;
}

.search{
direction: ltr;
display: flex;
Flex-direction:row;
background-color: rgb(239, 239, 239);
background-image: none;
background-origin: padding-box;
background-size: auto;
Margin-left:160px;
Margin-top:10px;
border-bottom-color: rgb(38, 38, 38);
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(38, 38, 38);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(38, 38, 38);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(38, 38, 38);
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
Height:30px;
Width:350px;
align-items: center;
}

.search[type=search]:focus {
background-color: rgb(255, 255, 255);
-webkit-appearance: textfield;
}

.search-box{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(239, 239, 239);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-sizing: border-box;
color: rgb(142, 142, 142);
cursor: text;
direction: ltr;
display: flex;
flex-direction: column;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 300;
height: 36px;
justify-content: center;
left: 0px;
line-height: 18px;
padding-bottom: 0px;
padding-left: 16px;
padding-right: 16px;
padding-top: 0px;
position: absolute;
text-align: left;
top: 0px;
width: 268px;
z-index: 2;
}

.search-signal{
color: rgb(142, 142, 142);
Margin-left:-390px;
Margin-top:10px;
}

.search{
  border: 1px solid white;
  width: 400px;
  padding: 9px 4px 9px 4px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.operation-icon{
Display:flex;
Flex-direction:row;
Margin-left: 250px;
}

.icon{
Margin-left:10px;
Margin-right:10px;
}

.article{
background-color: rgb(255, 255, 255);
direction: ltr;
display: flex;
flex-basis: auto;
flex-direction: column;
flex-grow: 0;
flex-shrink: 0;
height: 700px;
line-height: 18px;
position: relative;
Margin-left:100px;
Margin-top:100px;
width: 600px;
border-bottom-color: rgb(219, 219, 219);
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(219, 219, 219);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(219, 219, 219);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(219, 219, 219);
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-top-style: solid;
border-top-width: 1px;
}

.post-user{
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(239, 239, 239);
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-style: solid;
border-bottom-width: 0.5px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
flex-direction: row;
height: 60px;
line-height: 18px;
width: 600px;
}

.post-user-name{
color: rgb(38, 38, 38);
display: flex;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
height: 18px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 0px;
margin-top: 20px;
position: relative;
text-align: center;
width: 80px;
}

.article-bottom{
color: rgb(38, 38, 38);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 18px;
line-height: 18px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 0px;
margin-top: 10px;
pointer-events: auto;
width: 600px;
}

.story {
background-attachment: scroll;
align-items: stretch;
display: flex;
flex-direction: column;
height: 500px;
Width:500px;
position: relative;
border-top-color: rgb(219, 219, 219);
border-top-style: solid;
border-top-width: 1px;
Margin-left:20px;
Margin-top:4px;
}

.watch-All{
color: rgb(38, 38, 38);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 12px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 16px;
margin-left: 0px;
margin-top: -20px;
text-align: center;
text-transform: none;
}

.Stories-header{
color: rgb(142, 142, 142);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 18px;
line-height: 18px;
margin-top: 20px;
}

.presentation{
background-attachment: scroll;
Overflow:scroll;
position: relative; 
display: flex; 
flex-direction: column; 
padding-bottom: 0px; 
padding-top: 0px;
Height:260px;
}

.like{
color: rgb(38, 38, 38);
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-stretch: normal;
font-weight: bold;
height: 18px;
width: 417px;
display: flex;
Flex-direction:row;
}

.post-content{
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: auto;
line-height: 18px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
pointer-events: auto;
width: auto;
}

.post-content1{
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: auto;
line-height: 18px;
Margin-top: 0px;
margin-left: 15px;
width: auto;
}


.post{
align-content: stretch;
align-items: stretch;
box-sizing: border-box;
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
flex-basis: auto;
flex-direction: column;
flex-grow: 0;
flex-shrink: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 1051.234375px;
justify-content: flex-start;
line-height: 18px;
margin-top: 16px;
position: relative;
width: 600px;
}

.storyuser_list {
border: 0;
display: flex;
flex-direction: column;
font: inherit;
font-size: 100%;
padding: 0;
vertical-align: baseline;
}

.storyuser{
align-content: stretch;
align-items: center;
box-sizing: border-box;
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
flex-basis: auto;
flex-direction: row;
flex-grow: 0;
flex-shrink: 0;
height: 70px;
justify-content: flex-start;
line-height: 18px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
position: relative;
width: 347px;
}

.story-user-name {
align-items: center;
box-sizing: border-box;
color: rgb(38, 38, 38);
cursor: pointer;
direction: ltr;
display: inline-block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 18px;
justify-content: flex-start;
position: relative;
Margin-left: 15px;
Margin-top:-20px;
text-align: start;
white-space: nowrap;
width: 45.90625px;
}

.story-post-time{
color: rgb(142, 142, 142);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 12px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 16px;
line-height: 16px;
margin-left: -45px;
margin-right: 0px;
margin-top: 13px;
overflow-x: hidden;
overflow-y: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 224.921875px;
}

#sidebar{
 -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  width: 6000px;
  left: 150px;
  z-index: 999;
}

.right-side{
align-content: stretch;
align-items: stretch;
box-sizing: border-box;
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
flex-basis: auto;
flex-direction: column;
flex-grow: 0;
flex-shrink: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 1051px;
justify-content: flex-start;
line-height: 18px;
margin-top: 100px;
Margin-left: 50px;
position: relative;
width: 600px;
list-style-type: none;
}

.user-main-info{
box-sizing: border-box;
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
flex-basis: auto;
flex-direction: column;
flex-grow: 0;
flex-shrink: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-stretch: normal;
font-variant-caps: normal;
font-weight: 600;
height: 90px;
line-height: 18px;
Margin-left: 20px;
Margin-top:10px;
position: relative;
width: 200px;
}

.user-main-name{
Margin-left: 80px;
Margin-top:10px;
Width : 100%;
Position:relative;
}

.user-grey-name{
color: rgb(142, 142, 142);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 18px;
line-height: 18px;
margin-left: 80px;
margin-top: 5px;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
width: 196.84375px;
}

.switch{
-webkit-user-select: none;
color: rgb(0, 149, 246);
cursor: pointer;
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 20px;
letter-spacing: normal;
line-height: 16px;
Margin-left:400px;
Margin-top:-25px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
width: 40.15625px;
word-spacing: 0px;
writing-mode: horizontal-tb;
}

.recommend{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgb(219, 219, 219);
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(219, 219, 219);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(219, 219, 219);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(219, 219, 219);
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(38, 38, 38);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-weight: 400;
height: 500px;
Width:600px;
line-height: 18px;
Margin-top:80px;
margin-left: 100px;
}

.article-comment{
align-items: center;
border-bottom-color: rgb(142, 142, 142);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(142, 142, 142);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(142, 142, 142);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(142, 142, 142);
border-top-style: none;
border-top-width: 0px;
color: rgb(142, 142, 142);
direction: ltr;
display: flex;
flex-direction: row;
flex-grow: 1;
flex-shrink: 1;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 40px;
line-height: 18px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
pointer-events: auto;
position: relative;
vertical-align: baseline;
width: 441px;
}

.emoji{
align-items: center;
appearance: button;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgb(38, 38, 38);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(38, 38, 38);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(38, 38, 38);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(38, 38, 38);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(38, 38, 38);
cursor: pointer;
direction: ltr;
display: flex;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 24px;
justify-content: center;
letter-spacing: normal;
line-height: 18px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 0px;
margin-top: 10px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 24px;
word-spacing: 0px;
}

.comment-box{
align-items: center;
border-bottom-color: rgb(142, 142, 142);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-style: none;
border-left-width: 0px;
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(199,199,199);
border-top-style: none;
border-top-width: 1px;
color: rgb(142, 142, 142);
direction: ltr;
display: flex;
flex-direction: row;
flex-grow: 1;
flex-shrink: 1;
height: 50px;
line-height: 18px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 30px;
pointer-events: auto;
position: relative;
vertical-align: baseline;
width: 580px;
Border-style:solid;
}

.add-comment{
margin-bottom: 0px;
margin-left: 10px;
margin-right: 0px;
margin-top: 10px;
height: 30px;
width: 500px;
border-bottom-style: none;
border-bottom-width: 0px;
border-top-style: none;
border-top-width: 0px;
border-left-style: none;
border-left-width: 0px;
border-right-style: none;
border-right-width: 0px;
}


.Grey-comment{
color: rgb(142, 142, 142);
Margin-top:5px;
}

.post-time{
color: rgb(142, 142, 142);
cursor: pointer;
direction: ltr;
display: inline;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 10px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: auto;
letter-spacing: 0.2px;
line-height: 12px;
text-align: start;
text-transform: uppercase;
width: auto;
}

.suggestion-header{
direction: ltr;
display: block;
Postion:relative;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 0px;
margin-top:20px;
color: rgb(142, 142, 142);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 18px;
line-height: 18px;
width: 363.65625px;
}

.SeeAll{
color: rgb(0, 149, 246);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 600;
height: 18px;
Position : relative;
margin-bottom: 0px;
margin-left: 530px;
margin-top: -17px;
text-align: start;
width: 46.34375px;
}

.recommend-users-list{
border-bottom-color: rgb(38, 38, 38);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(38, 38, 38);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(38, 38, 38);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(38, 38, 38);
border-top-style: none;
border-top-width: 0px;
color: rgb(38, 38, 38);
direction: ltr;
Postion:relative;
display: flex;
flex-direction: row;
height: 216px;
line-height: 18px;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 25px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
width: 200px;
}

.rec-user1-profile{
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(219, 219, 219);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(219, 219, 219);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(219, 219, 219);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(219, 219, 219);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(38, 38, 38);
cursor: pointer;
direction: ltr;
display: flex;
flex-direction: column;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 201px;
line-height: 18px;
list-style-type: none;
text-align: left;
width: 176px;
}

.user-name{
align-content: stretch;
align-items: center;
box-sizing: border-box;
color: rgb(38, 38, 38);
direction: ltr;
display: flex;
flex-basis: auto;
flex-direction: row;
flex-grow: 0;
flex-shrink: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 11px;
justify-content: center;
line-height: 18px;
list-style-type: none;
margin-bottom: 4px;
Margin-left:0px;
max-width: 100%;
position: relative;
text-align: left;
}

.user-tag{
align-content: stretch;
align-items: center;
box-sizing: border-box;
color: rgb(38, 38, 38);
cursor: pointer;
direction: ltr;
display: flex;
flex-basis: auto;
flex-direction: row;
flex-grow: 0;
flex-shrink: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
justify-content: center;
line-height: 18px;
list-style-type: none;
margin-top: 5px;
Margin-left: 10px;
position: relative;
text-align: left;
width: 150px;
color: rgb(142, 142, 142);
}

.button{
color: rgb(38, 38, 38);
cursor: pointer;
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 30px;
line-height: 18px;
list-style-type: none;
text-align: left;
width: 71.515625px;
}

.follow{
align-items: flex-start;
appearance: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(0, 149, 246);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgba(0, 0, 0, 0);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
direction: ltr;
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 30px;
margin-left: 55px;
margin-right: 0px;
margin-top: 10px;
padding-bottom: 5px;
padding-left: 9px;
padding-right: 9px;
padding-top: 5px;
position: relative;
text-align: center;
text-indent: 0px;
text-overflow: ellipsis;
text-shadow: none;
text-transform: none;
width: 71.515625px;
word-spacing: 0px;
writing-mode: horizontal-tb;
}

.next{
Postion:relative;
Margin-left : 680px;
Margin-top:-140px;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-style: none;
border-bottom-width: 0px;
border-left-style: none;
border-left-width: 0px;
border-right-style: none;
border-right-width: 0px;
border-top-style: none;
border-top-width: 0px;
}

.next-arrow{
background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png");
background-position-x: -97px;
background-position-y: -333px;
direction: ltr;
display: block;
transform: matrix(-1, 0, 0, 1, 0, 0);
width: 24px;
height: 24px;
}


.dismiss1{align-items: flex-start;
appearance: button;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(38, 38, 38);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-left-style: none;
border-left-width: 0px;
border-right-style: none;
border-right-width: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
direction: ltr;
display: block;
height: 10px;
margin-left: 170px;
margin-top: 5px;
padding-bottom: 8px;
padding-left: 8px;
padding-right: 4px;
padding-top: 10px;
position: relative;
right: 10px;
width: 10px;
z-index: 1;
background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png");
background-position-x: -387px;
background-position-y: -321px;

}

.right-button-save{
border-bottom-color: rgb(38, 38, 38);
border-bottom-style: none;
border-bottom-width: 0px;
color: rgb(38, 38, 38);
direction: ltr;
display: block;
width: 40px;
height: 40px;
Postion:relative;
margin-bottom: 0px;
margin-left: 530px;
margin-top: -35px;
}

.post-content{
direction: ltr;
display: block;
Postion:relative;
margin-bottom: 0px;
margin-left: 45px;
margin-right: -10px;
margin-top:-18px;
}


.patent{
color: rgb(38, 38, 38);
direction: ltr;
display: block;
flex-direction: row;
flex-wrap: wrap;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: 80px;
justify-content: space-between;
line-height: 18px;
width: 350px;
Margin-top: 20px;
}

.patent-content{
color: rgb(199, 199, 199);
cursor: pointer;
direction: ltr;
display: inline;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 12px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 400;
height: auto;
line-height: 16px;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: left;
text-transform: none;
width: auto;
}

.instagram-patent{
color: rgb(199, 199, 199);
direction: ltr;
display: inline;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 12px;
font-stretch: normal;
font-weight: 400;
height: auto;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-transform: uppercase;
width: auto;
}